div.content{
    margin-top: -.7rem;
    margin-right: 22vw;
    width:76vw ;
    background: #FFFFFF;
    border-radius: 1rem;
    section#adminIndex{

    }
}
header#topHeader{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    grid-gap: 1rem;
    width: 79.4vw ;
    margin-right:20.5vw;
    section.userInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        padding: 1rem;
        border-radius: 1rem;
        div.userInfo{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            grid-gap: 1rem;
            align-items: center;
            div{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                grid-gap: 1rem;
                align-items: center;
            }
        }
        div.image{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: left;
            align-items: center;
            position: relative;
            padding: 0 .1rem;
            width: 6rem;
            margin-right: auto;
            figure{
                height: 5.5rem;
                width: 5.5rem;
                border-radius: 2rem;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &:before{
                content: '';
                position: absolute;
                height: 2.5px;
                border-radius: 1rem;
                width: 2.3rem;
                bottom: -9px;
                left: 34%;
                background: $dark-purple;
            }
        }

    }
    section.notification{
        background: #FFFFFF;
        display: grid;
        grid-template-columns: auto ;
        justify-content: center;
        align-items: center;
        grid-gap: 1.5rem;
        padding: 1rem;
        border-radius: 1rem;
        div.top{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;
            grid-gap: .4rem;
            span{
                display: grid;
                svg{
                    height: 1.4rem;
                    width: 1.4rem;
                }
            }
            &.bottom{
                display: grid;
                grid-template-columns: repeat(3 , auto);
                justify-content: center;
                align-items: center;
                grid-gap: 2.5rem;
                span{
                    background: $bg-color;
                    padding: .5rem;
                    border-radius: 1rem;
                    svg{
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
        }

    }
}
aside#adminSidebar{
    position: fixed;
    background: #FFFFFF;
    width: 19vw;
    top: 2rem;
    right: 2rem;
    padding: 1rem;
    height: 92vh;
    border-radius: 1rem;
    section.sidebar{
        position: fixed;
        background: #FFFFFF;
        align-items: flex-start;
        width: 19vw;
        top: 2rem;
        right: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        figure{
            width: 15rem;
            height: 10vh;
            margin: auto;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            margin-bottom: 2rem;
        }
        .ps{
        height: 35rem;
        position: relative;
        .ps__rail-y{
            right: -2% !important;
        }
        }
        ul{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1.4rem;
            justify-content: right;
            align-items: center;
            padding-left: .5rem;
            li{
                display: grid;
                grid-template-columns: 1fr;
                a , div{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    grid-gap: 1rem;
                    align-items: center;
                    height: 2.5rem;
                    padding: 0  .5rem;
                    width: 100%;
                    &.menu{
                        display: flex;
                        align-items: center;
                        &.active{
                            span.icon{
                                svg{
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                        span.icon{
                            margin-right: auto;
                            margin-left: -1rem;
                            svg{
                                height: 2rem;
                                width: 1rem;
                                margin-bottom: -.4rem;
                                transition: all ease-in-out .3s;
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    span{
                        text-align: center;
                        font-size: 1.03rem;
                        color: #727578;
                        transition: all ease-in-out .3s;
                        display: grid;
                        svg{
                            margin-top: -.5rem;
                            height: 2.2rem;
                            width: 2.1rem;
                            margin-bottom: -.4rem;
                            transition: all ease-in-out .3s;
                        }
                    }
                    &:hover span{
                        color: #1753FC;
                        svg{
                            fill: #1753FC !important;
                            stroke: #fce57e;
                        }
                    }
                }
                ul{
                    margin-top: 0;
                    grid-gap: 0;
                    li{
                        margin-right: .7rem;
                        margin-top: 0;
                        a{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: right;
                            grid-gap: .7rem;
                            align-items: center;
                            height: 2.5rem;
                            padding: 0  .5rem;
                            width: 100%;
                            position: relative;
                            span{
                                text-align: center;
                                font-size: 1rem;
                                color: #727578;
                                transition: all ease-in .3s;
                            }
                            &:hover span{
                                color: #1753FC;
                                svg{
                                    fill: #1753FC !important;
                                }
                            }
                            &:hover span.point{
                                background: #1753FC !important;
                            }
                            span.point{
                                position: absolute;
                                right: -2%;
                                width: .39rem;
                                height: .39rem;
                                border-radius: .7rem;
                                background: #727578;
                                margin-top: -.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
section.galleries{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .4rem .5rem;
    section.addGalleries{
        margin: .7rem .5rem;
        overflow: hidden;
        form.dropzone{
            border: dashed 1px #727578 !important;
        }
    }
    section#galleriesIndex{
        display: grid;
        grid-template-columns: repeat(6 , 1fr);
        align-items: center;
        justify-content: center;
        overflow: hidden;
        article{
            display: grid;
            align-items: center;
            justify-content: center;
            margin: 1.5rem 0;
            width: 13rem;
            height: 15rem;
            position: relative;
            padding: .5rem 1rem;
            transition: all .3s ease-in-out;
            figure{
                height: 15rem;
                overflow: hidden;
                margin-bottom: .8rem;
                img{
                    height: 100%;
                    object-fit: contain;
                    width: 100%;
                }
            }
            &:hover figure{
                filter: brightness(40%);


            }
            &:hover div.imageInformation{
                filter: brightness(100%) !important;
                z-index: 10;
                visibility: visible;
                opacity: 1;
                top: -180%;
                right: 8%;
            }

        }
        div.imageInformation{
            display: grid;
            grid-template-columns: auto;
            justify-content: space-between;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            top: -165%;
            right: 8%;
            filter: brightness(100%) !important;
            z-index: 10;
            position: relative;
            transition: all .3s ease-in-out;
            div.partInfo{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                align-items: center;
                grid-gap: .4rem;
                span{
                    font-size: .8rem;
                    color: #FFFEFD;
                }
            }
        }
    }
}
