


$bg-color :#EEEEEE;
$bg-theme :#FFFFFF;
$primary-color : rgba(47,53,58,1);
$primary-color-lighter : rgba(76,76,76,.6);
$primary-color-darker : rgba(38,42,46,1);
$primary-border : rgba(215,215,215,.5);
$primary-shadow : rgba(76,76,76,.1);
$text-color-light :#FFFFFF;
$text-color-dark :#8A93a2;
$anotherTheme : #20A8d8;
$dark-purple: #6528F7;
$light-purple: #A076F9;
$v-light-purple: #D7BBF5;


$theme : (primary : #89A4F6 , primaryDark : #1753FC , success :#009688 , danger : #EC2D38 , text :#D0D0D0 , light : #ffffff);
$themeDark : (900 : #14171f , 800 : #1e222f , 700 : #282d3e , 600 : #2B3143 , 500 :#32394e , 400 : #3c445d , 300 : #464f6d , 200 : #505b7c , 100 : #5a668c);
$grayColor : (100 : #f9fbfd , 200 : #fafafb , 300 : #e3ebf6 , 400 : #d2ddec , 500 : #b1c2d9 , 600 :#95aac9 , 700 : #42495e , 800 : #2a3042 , 900 : #202536);
